#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{

box-sizing: border-box;
}

.mainContainer{
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 550px;
  border-radius: 16px;
  background-color: #f46c6c;
  padding: 20px;
}

.btn{
  display: inline-block;
  padding: 6px;
  width: 100px;
  font-weight: 800;
  font-size: 18px;
  color: #f46c6c;
  height: 50px;
  margin-left: 20px;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn:hover{
  background-color: #e75f5f;
  color: white;
}

.box{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.text{
  font-size: 60px;
font-weight: 900;
color: white;
}